@import 'utils/common';

body{
    #main-box {
        #pixels-box {
            flex: 1;
            overflow: auto;
            padding: 20px;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: flex-start;
            background: #FFF;

            .column {
                width: 50px;
                display: flex;
                flex-direction: column;
                padding: 0 2px;
                
                .row {
                    height: 20px;
                    margin: 2px 0;

                    &:not(.heading){
                        cursor: pointer;
                        background: #222;
                        padding: 2px;

                        .color {
                            width: 100%;
                            height: 100%;
                            background: #FFF;
                        }
                    }

                    &.heading{
                        background: transparent;
                        text-align: center;
                        font-weight: bold;
                    }
                }

                &.days-num{
                    .row {
                        background: #FFF;
                        text-align: center;
                        cursor: default;
                        font-weight: bold;
                    }
                }
            }
        }
    }

    .float-toolbar{
        position: fixed;
        display: flex;
        flex-direction: column;

        .float-toolbar-button{
            width: 100%;
            cursor: pointer;
            margin: 5px 0;
            position: relative;

            .float-toolbar-button-icon {
                svg{
                    width: 32px;
                }
            }

            .float-toolbar-button-tooltip{
                position: absolute;
                top: 0;
                right: 100%;
                margin-right: 15px;
                width: 120px;
                display: none;
                justify-content: center;
                align-items: center;
                text-align: center;
                background: #222;
                color: #FFF;
                border-radius: 10px;
                padding: 10px;
                opacity: 0.7;

                span {
                    display: inline;
                    text-align: center;
                }
            }

            &:hover {
                .float-toolbar-button-tooltip{
                    display: flex;
                }
            }
        }

        &.float-top{
            top: 10px;
        }

        &.float-left{
            left: 10px;
        }

        &.float-right{
            right: 10px;
        }

        &.float-bottom{
            bottom: 10px;
        }
    }

    .modal-overlay{
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: rgba(0, 0, 0, 0.8);
        z-index: 99999999;
        display: flex;
        align-items: center;
        justify-content: center;
        opacity: 0;
        display: none;

        .modal-box {
            width: 70%;
            height: 70%;
            background: #FFF;
            box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
            display: flex;
            flex-direction: column;

            .modal-title-box {
                h1 {
                    font-family: 'Pacifico', cursive;
                    font-weight: 100;
                    text-align: center;
                }
            }

            .modal-content-box{
                flex: 1;
                overflow-x: hidden;
                overflow-y: auto;

                .list{
                    display: flex;
                    flex-direction: column;
                    width: 100%;
                    padding: 10px;

                    .list-item {
                        width: 100%;
                        display: flex;
                        flex-direction: row;
                        align-items: stretch;
                        justify-content: start;
                        margin: 5px 0;
                        padding: 5px;
                        border: 1px solid transparent;
                        cursor: pointer;

                        .list-item-color {
                            width: 100px;
                            margin-right: 10px;
                        }

                        .list-item-text {
                            flex: 1;
                        }

                        &:hover{
                            border-color: #222;
                            cursor: pointer;
                        }
                    }
                }
            }

            .modal-footer-box {
                padding: 10px;
                display: flex;
                align-items: center;
                justify-content: center;

                .button {
                    cursor: pointer;
                    background: #CCC;
                    padding: 10px 15px;

                    &:hover{
                        background: #BBB;
                    }
                }
            }
        }
    }
}

::-webkit-scrollbar {
    width: 20px;
}

::-webkit-scrollbar-track {
    background: lightgrey;
}  

::-webkit-scrollbar-thumb {
    background: grey;
}

::-webkit-scrollbar-thumb:hover {
    background: darkgrey;
}