@font-face {
  font-family: "Pacifico";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(../../fonts/Pacifico-Regular.ttf);
}
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(../../fonts/Roboto-Regular.ttf);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  -webkit-user-select: none;
  user-select: none;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  background: #FFF;
  color: #222;
  font-family: "Roboto", sans-serif;
}
body #main-box {
  width: 80%;
  height: 90%;
  background: #FFF;
  display: flex;
  flex-direction: column;
}
body #main-box h1#title-box {
  font-family: "Pacifico", cursive;
  font-weight: 400;
  font-size: 3em;
  text-align: center;
}
body .float-toolbar {
  position: fixed;
  display: flex;
  flex-direction: column;
}
body .float-toolbar .float-toolbar-button {
  width: 100%;
  cursor: pointer;
  margin: 5px 0;
  position: relative;
}
body .float-toolbar .float-toolbar-button .float-toolbar-button-icon svg {
  width: 32px;
}
body .float-toolbar .float-toolbar-button .float-toolbar-button-tooltip {
  position: absolute;
  top: 0;
  right: 100%;
  margin-right: 15px;
  width: 120px;
  display: none;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: #222;
  color: #FFF;
  border-radius: 10px;
  padding: 10px;
  opacity: 0.7;
}
body .float-toolbar .float-toolbar-button .float-toolbar-button-tooltip span {
  display: inline;
  text-align: center;
}
body .float-toolbar .float-toolbar-button:hover .float-toolbar-button-tooltip {
  display: flex;
}
body .float-toolbar.float-top {
  top: 10px;
}
body .float-toolbar.float-left {
  left: 10px;
}
body .float-toolbar.float-right {
  right: 10px;
}
body .float-toolbar.float-bottom {
  bottom: 10px;
}

body #main-box #config-box {
  flex: 1;
  position: relative;
  overflow-x: hidden;
  overflow-y: auto;
}
body #main-box #config-box .config-title {
  text-align: center;
  font-weight: 400;
  margin: 20px 0;
  font-size: 1.5em;
}
body #main-box #config-box .config-item {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  margin: 20px 0;
}
body #main-box #config-box .config-item .config-item-text {
  width: 50%;
  font-weight: 600;
  text-align: right;
}
body #main-box #config-box .config-item .config-item-prop {
  width: 50%;
  padding: 10px;
}
body #main-box #config-box .config-item .config-item-prop .color-square {
  display: block;
  width: 30px;
  height: 30px;
  background: #FFF;
  border: 2px solid #000;
  cursor: pointer;
  position: relative;
}
body #main-box #config-box .config-item .config-item-prop .config-button {
  padding: 10px 20px;
  border: 1px solid #222;
  border-radius: 4px;
  cursor: pointer;
  color: #222;
  background-color: #FFF;
  transition: background-color 0.5s, color 0.5s;
}
body #main-box #config-box .config-item .config-item-prop .config-button:hover {
  color: #FFF;
  background-color: #222;
}
body .modal-overlay {
  display: none;
}
body .modal-overlay .modal-overlay-shadow {
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
body .modal-overlay .modal-overlay-shadow .modal-window {
  background: #FFF;
  padding: 20px;
  box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.4);
  display: flex;
  flex-direction: column;
}
body .modal-overlay .modal-overlay-shadow .modal-window .modal-buttons {
  display: flex;
  flex-direction: column;
}
body .modal-overlay .modal-overlay-shadow .modal-window .modal-buttons .button {
  margin: 5px 0;
  border: 1px solid #222;
  padding: 5px 10px;
  border-radius: 4px;
  text-align: center;
  cursor: pointer;
  background-color: #FFF;
  color: #222;
  transition: background-color 0.5s, color 0.5s;
}
body .modal-overlay .modal-overlay-shadow .modal-window .modal-buttons .button:hover {
  color: #FFF;
  background-color: #222;
}
body #cp-modal .picker_done {
  display: none;
}
body #cp-modal .picker_wrapper {
  box-shadow: none !important;
  background: #FFF;
}
body #cp-modal .picker_alpha {
  display: none;
}

/*# sourceMappingURL=config.css.map */
