#main-box #years-box {
    flex: 1;
    overflow-x: hidden;
    overflow-y: auto;
    padding-top: 30px;
}

#years-list {
    width: 100%;
    display: flex;
    flex-direction: column;
}
        
#years-list .year {
    padding: 15px 10px;
    margin: 5px 0;
    text-align: center;
    font-size: 1.3em;
    position: relative;
}

#years-list .year:hover {
    background: #DDD;
    cursor: pointer;
}

#years-list .year span {
    position: absolute;
    left: 0;
    top: 0;
    background: rgba(0, 0, 0, 0.5);
    color: #FFF;
    padding: 5px;
    font-size: 13px;
}

#year-titlte-dialog .modal-box {
    max-height: 70%;
    height: auto;
}

#year-titlte-dialog .modal-content-box {
    padding: 20px;
}

#year-titlte-dialog .field {
    display: flex;
    width: 100%;
    flex-direction: column;
    margin-bottom: 20px;
}

#year-titlte-dialog .field input[type=text] {
    border: 1px solid #CCC;
    border-radius: 4px;
    padding: 6px 18px;
    margin-top: 10px;
}

#year-titlte-dialog .button {
    margin: 0 10px;
}