#main-box #years-box {
    flex: 1;
    overflow-x: hidden;
    overflow-y: auto;
    padding-top: 30px;
}

#years-list {
    width: 100%;
    display: flex;
    flex-direction: column;
}
        
#years-list .year {
    padding: 15px 10px;
    margin: 5px 0;
    text-align: center;
    font-size: 1.3em;
    position: relative;
}

#years-list .year:hover {
    background: #DDD;
    cursor: pointer;
}

#years-list .year span {
    position: absolute;
    left: 0;
    top: 0;
    background: rgba(0, 0, 0, 0.5);
    color: #FFF;
    padding: 5px;
    font-size: 13px;
}